<!-- Page Wrapper -->
<div id="wrapper">

  <app-sidebar></app-sidebar>

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <app-topbar></app-topbar>

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Formula 1 REST API - Dashboard</h1>
        <p class="mb-4">This api contains data from 1950 all the way through the 2017 season, and consists of tables
          describing constructors, race drivers, lap times, pit stops and more. To get the source code visit <a
            target="_blank" href="https://github.com/Darrellrp/Formula-1-App">GitHub</a></p>

        <!-- DataTales Example -->
        <div id="table" class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-danger"> entity </h6>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

              </table>
            </div>
          </div>
        </div>

      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <app-footer></app-footer>

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<app-scroll-to-top-button></app-scroll-to-top-button>

<app-logout-modal></app-logout-modal>